* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
i {
  font-style: normal;
}
html,
body {
  background-color: #f5f5f5;
}
#main #head-login {
  width: 100%;
  height: 33px;
  background: #f2f2f2;
  border-bottom: 1px solid #e5e5e5;
}
#main #head-login > header {
  width: 1230px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#main #head-login > header > p {
  height: 100%;
}
#main #head-login > header > p > i {
  line-height: 32px;
  font-size: 12px;
  color: #999;
}
#main #head-login > header > p > a {
  padding-left: 20px;
}
#main #head-login > header > ul {
  height: 32px;
}
#main #head-login > header > ul > li {
  float: left;
  line-height: 32px;
  font-size: 12px;
  color: #999;
}
#main #head-login > header > ul > li > a {
  padding: 0 10px;
}
#main #head-login > header > ul > li .iconfont {
  line-height: 32px;
  font-size: 12px;
  color: red;
}
#main #head-login > header > ul > li .icon-xiajiantoushixinxiao {
  color: #999;
}
#main #head-login > header a {
  line-height: 32px;
  font-size: 12px;
  color: #999;
}
#main #head-login > header a:hover {
  color: red;
}
#main #nav-search {
  width: 100%;
  height: 130px;
  background-color: #fff;
}
#main #nav-search > nav {
  width: 1230px;
  height: 78px;
  margin: 0 auto;
}
#main #nav-search > nav > .search-center,
#main #nav-search > nav .search-left {
  float: right;
}
#main #nav-search > nav > .search-rigth {
  width: 240px;
  height: 130px;
  float: left;
  margin-left: -25px;
}
#main #nav-search > nav > .search-rigth > img {
  width: 240px;
  height: 130px;
}
#main #nav-search > nav > .search-center {
  width: 300px;
  height: 78px;
  padding-left: 100px;
}
#main #nav-search > nav > .search-center > a {
  display: block;
  width: 190px;
  height: 70px;
  margin-top: 10px;
}
#main #nav-search > nav > .search-left {
  width: 625px;
  height: 78px;
  padding-top: 38px;
}
#main #nav-search > nav > .search-left > form {
  width: 625px;
  height: 40px;
  border: solid #FF0036;
  border-width: 2px 0px 2px 2px;
}
#main #nav-search > nav > .search-left > form > fieldset {
  border: none;
  width: 623px;
  height: 36px;
}
#main #nav-search > nav > .search-left > form > fieldset > input {
  width: 490px;
  height: 36px;
  line-height: 36px;
  letter-spacing: 1px;
  padding: 5px 3px 5px 10px;
  border: none;
  float: left;
  outline: none;
}
#main #nav-search > nav > .search-left > form > fieldset > button {
  width: 133px;
  height: 36px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 5px;
  background: #FF0036;
  float: left;
}
#main #content-nav {
  width: 100%;
  background-color: #fff;
  border-style: solid;
  border-width: 0 0 2px;
  border-color: #FF0036;
}
#main #content-nav > nav {
  width: 1230px;
  height: 37px;
  margin: 0 auto;
  position: relative;
}
#main #content-nav > nav > .tmall-left {
  float: left;
  width: 200px;
  height: 37px;
  font-size: 16px;
  font-weight: 700;
  background: #FF0036;
  color: #fff;
  line-height: 36px;
  padding-left: 15px;
}
#main #content-nav > nav > .tmall-rigth {
  float: left;
  width: 1030px;
  height: 36px;
  display: flex;
}
#main #content-nav > nav > .tmall-rigth > a {
  margin: 0 8px;
  float: left;
  color: #000;
  line-height: 36px;
}
#main #content-nav > nav > .tmall-rigth > a:hover {
  color: red;
}
#main #content-nav > nav > .tmall-rigth > a > img {
  margin-top: 3px;
  width: 100px;
  height: 30px;
  display: block;
}
#main #content-nav > nav > #content-list {
  width: 200px;
  position: absolute;
  top: 39px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.55);
}
#main #content-nav > nav > #content-list > li {
  padding-left: 15px;
  height: 31.25px;
  line-height: 31.25px;
  color: #fff;
  font-size: 14px;
}
#main #content-nav > nav > #content-list > li > .iconfont {
  font-size: 16px;
  opacity: 0.6;
  padding-right: 2px;
}
#main #content-nav > nav > #content-list > li > a {
  color: #fff;
}
#main #content-banner {
  width: 100%;
}
#main #content-banner > main {
  width: 100%;
  height: 500px;
  background: blue;
}
#main #content-banner > main > .tmall-banner {
  height: 500px;
  width: 1230px;
  margin: 0 auto;
  background: lightgreen;
}
#main #content-banner > main > .tmall-banner > img {
  margin: 0 auto;
  display: none;
}
#main #content-banner > main > .tmall-banner > .active {
  display: block;
}
#main #content-article {
  width: 1230px;
  margin: 0 auto;
}
#main #content-article > #content-brand {
  margin-top: 35px;
  width: 100%;
  height: 370px;
}
#main #content-article > #content-brand > div {
  height: 370px;
  float: left;
  background: #fff;
  display: flex;
  flex-direction: column;
}
#main #content-article > #content-brand > div > div {
  width: 100%;
  height: 54px;
  position: relative;
  border-bottom: 1px solid #eee;
}
#main #content-article > #content-brand > div > div > span:first-of-type {
  font-size: 18px;
  font-weight: 700;
  color: #333;
  line-height: 54px;
  margin-left: 10px;
}
#main #content-article > #content-brand > div > div > span:last-of-type {
  font-size: 14px;
  font-weight: 700;
  color: #333;
  margin-left: 10px;
  line-height: 24px;
}
#main #content-article > #content-brand > div > div > a {
  position: absolute;
  top: 16px;
  right: 10px;
  display: flex;
}
#main #content-article > #content-brand > div > div > a > .iconfont {
  padding-left: 5px;
  line-height: 24px;
  font-size: 20px;
  color: #aaa;
}
#main #content-article > #content-brand > div > div > a > i {
  color: #666;
}
#main #content-article > #content-brand > div > a {
  height: 316px;
  width: 100%;
}
#main #content-article > #content-brand > div > a > img {
  height: 316px;
  width: 100%;
}
#main #content-article > #content-brand > div > a:hover img {
  opacity: 0.6;
}
#main #content-article > #content-brand > .brand-left {
  width: 234px;
  margin-right: 13px;
}
#main #content-article > #content-brand > .brand-center {
  width: 485px;
  margin-right: 13px;
}
#main #content-article > #content-brand > .brand-right {
  width: 485px;
}
#main #content-article > #content-cooperate {
  margin-top: 15px;
  width: 100%;
}
#main #content-article > #content-cooperate > div {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
#main #content-article > #content-cooperate > div > a {
  width: 122px;
  height: 108px;
  margin-right: 1px;
  margin-bottom: 1px;
  float: left;
  background: #fff;
  display: flex;
}
#main #content-article > #content-cooperate > div > a > img {
  margin: auto;
  height: 50px;
  object-fit: cover;
}
#main #content-article > #content-cooperate > div > div {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
#main #content-article > #content-cooperate > div > div > a {
  color: #999;
  display: block;
  width: 122px;
  height: 108px;
  margin-right: 1px;
  margin-bottom: 1px;
  float: left;
  background: #fff;
  text-align: center;
  line-height: 108px;
}
#main #content-article > #content-supermarket {
  margin-top: 30px;
  width: 100%;
}
#main #content-article > #content-supermarket > .supermarket-top {
  font-size: 18px;
  height: 28px;
}
#main #content-article > #content-supermarket > .supermarket-top > img {
  height: 25px;
}
#main #content-article > #content-supermarket > .supermarket-bottom {
  width: 100%;
  height: 618px;
  margin-top: 10px;
  overflow: hidden;
}
#main #content-article > #content-supermarket > .supermarket-bottom > .supermarket-bottom-left {
  width: 235px;
  height: 618px;
  float: left;
}
#main #content-article > #content-supermarket > .supermarket-bottom > .supermarket-bottom-left > a > img {
  display: block;
  width: 100%;
  height: 618px;
}
#main #content-article > #content-supermarket > .supermarket-bottom > .supermarket-bottom-right {
  width: 995px;
  height: 618px;
  float: left;
  overflow: hidden;
  display: flex;
  flex-flow: wrap;
  align-content: space-between;
}
#main #content-article > #content-supermarket > .supermarket-bottom > .supermarket-bottom-right > div {
  width: 484px;
  height: 316px;
  margin-left: 13px;
  background: #fff;
  border-bottom: 15px solid #f5f5f5;
}
#main #content-article > #content-supermarket > .supermarket-bottom > .supermarket-bottom-right > div > div {
  width: 462px;
  height: 282px;
  margin: 10px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.09);
}
#main #content-article > #content-supermarket > .supermarket-bottom > .supermarket-bottom-right > div > div > ul {
  overflow: hidden;
  background: #F1F1F1;
  color: #999;
  font-size: 12px;
}
#main #content-article > #content-supermarket > .supermarket-bottom > .supermarket-bottom-right > div > div > ul > li {
  float: left;
  color: #000;
  height: 57px;
  width: 231px;
  cursor: pointer;
  line-height: 30px;
  padding: 0 20px;
  text-align: center;
  vertical-align: middle;
}
#main #content-article > #content-supermarket > .supermarket-bottom > .supermarket-bottom-right > div > div > ul > li > p {
  margin-top: 16px;
  font-size: 18px;
  line-height: 20px;
}
#main #content-article > #content-supermarket > .supermarket-bottom > .supermarket-bottom-right > div > div > ul > .active {
  color: #fff;
  background: #00B262;
}
#main #content-article > #content-supermarket > .supermarket-bottom > .supermarket-bottom-right > a {
  width: 235px;
  height: 316px;
  margin-left: 13px;
  border-bottom: 15px solid #f5f5f5;
  position: relative;
  background-color: #fff;
}
#main #content-article > #content-supermarket > .supermarket-bottom > .supermarket-bottom-right > a > div {
  width: 235px;
  height: 301px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
}
#main #content-article > #content-supermarket > .supermarket-bottom > .supermarket-bottom-right > a > div > img {
  margin: 0 auto;
  margin-top: 20px;
  width: 185px;
  height: 185px;
}
#main #content-article > #content-supermarket > .supermarket-bottom > .supermarket-bottom-right > a > div > h5 {
  width: 135px;
  height: 40px;
  font-size: 14px;
  color: #333;
  line-height: 20px;
  overflow: hidden;
  margin: 8px auto;
  font-weight: 500;
}
#main #content-article > #content-supermarket > .supermarket-bottom > .supermarket-bottom-right > a > div > p {
  font-size: 18px;
  color: #FF0036;
  line-height: 18px;
  margin: 0 auto;
}
#main #content-article > #content-supermarket > .supermarket-bottom > .supermarket-bottom-right > a > div:hover {
  border: 1px solid red;
}
#main #content-article > #content-supermarket > .supermarket-bottom > .supermarket-bottom-right > a > div:hover img {
  opacity: 0.6;
}
#main #content-article > #content-iso {
  margin-top: 30px;
  width: 100%;
}
#main #content-article > #content-iso > .iso-top {
  font-size: 18px;
  height: 28px;
}
#main #content-article > #content-iso > .iso-top > img {
  height: 25px;
}
#main #content-article > #content-iso > .iso-bottom {
  width: 100%;
  height: 618px;
  margin-top: 10px;
  overflow: hidden;
}
#main #content-article > #content-iso > .iso-bottom > .iso-bottom-left {
  width: 235px;
  height: 618px;
  float: left;
  display: flex;
  flex-flow: wrap;
  align-content: space-between;
}
#main #content-article > #content-iso > .iso-bottom > .iso-bottom-left > a {
  width: 235px;
  height: 301px;
  display: block;
  border-bottom: 15px solid #f5f5f5;
  position: relative;
  background-color: #fff;
}
#main #content-article > #content-iso > .iso-bottom > .iso-bottom-left > a > img {
  width: 235px;
  height: 301px;
  float: left;
}
#main #content-article > #content-iso > .iso-bottom > .iso-bottom-right {
  width: 995px;
  height: 618px;
  float: left;
  overflow: hidden;
  display: flex;
  flex-flow: wrap;
  align-content: space-between;
}
#main #content-article > #content-iso > .iso-bottom > .iso-bottom-right > a {
  width: 235px;
  height: 316px;
  margin-left: 13px;
  border-bottom: 15px solid #f5f5f5;
  position: relative;
  background-color: #fff;
}
#main #content-article > #content-iso > .iso-bottom > .iso-bottom-right > a > div {
  width: 235px;
  height: 301px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
}
#main #content-article > #content-iso > .iso-bottom > .iso-bottom-right > a > div > img {
  margin: 0 auto;
  margin-top: 20px;
  width: 185px;
  height: 185px;
}
#main #content-article > #content-iso > .iso-bottom > .iso-bottom-right > a > div > h5 {
  width: 135px;
  height: 40px;
  font-size: 14px;
  color: #333;
  line-height: 20px;
  overflow: hidden;
  margin: 8px auto;
  font-weight: 500;
}
#main #content-article > #content-iso > .iso-bottom > .iso-bottom-right > a > div > p {
  font-size: 18px;
  color: #FF0036;
  line-height: 18px;
  margin: 0 auto;
}
#main #content-article > #content-iso > .iso-bottom > .iso-bottom-right > a > div:hover {
  border: 1px solid red;
}
#main #content-article > #content-iso > .iso-bottom > .iso-bottom-right > a > div:hover img {
  opacity: 0.6;
}
#main #content-article > #conten-advertising {
  margin-top: 20px;
  width: 100%;
  display: flex;
  overflow: hidden;
}
#main #content-article > #conten-advertising > a {
  width: 100%;
}
#main #content-article > #conten-advertising > a > img {
  display: block;
  width: 1620px;
  height: 90px;
  margin-left: -165px;
}
#main #content-article > #conten-interest {
  margin-top: 30px;
  width: 100%;
}
#main #content-article > #conten-interest > h2 {
  color: #666;
  text-align: center;
  height: 43px;
  font-weight: 100;
}
#main #content-article > #conten-interest > h2 > span {
  font-size: 18px;
  line-height: 20px;
  position: relative;
}
#main #content-article > #conten-interest > h2 > span::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: #979797;
  top: 12px;
  left: -38px;
}
#main #content-article > #conten-interest > h2 > span::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: #979797;
  top: 12px;
  right: -38px;
}
#main #content-article > #conten-interest > div > ul {
  height: 333px;
}
#main #content-article > #conten-interest > div > ul > li {
  float: left;
  width: 236px;
  margin-right: 12px;
  margin-bottom: 7px;
}
#main #content-article > #conten-interest > div > ul > li > a {
  height: 315px;
  width: 236px;
  display: block;
  background-color: #fff;
}
#main #content-article > #conten-interest > div > ul > li > a > div {
  height: 315px;
  width: 236px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
}
#main #content-article > #conten-interest > div > ul > li > a > div > img {
  margin: 0 auto;
  margin-top: 20px;
  width: 185px;
  height: 185px;
}
#main #content-article > #conten-interest > div > ul > li > a > div > h5 {
  width: 135px;
  height: 40px;
  margin: 0 auto;
  margin-top: 14px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #666;
  overflow: hidden;
  font-weight: 500;
}
#main #content-article > #conten-interest > div > ul > li > a > div > p {
  font-size: 18px;
  color: #FF0036;
  line-height: 18px;
  margin: 0 auto;
  margin-top: 14px;
}
#main #content-article > #conten-interest > div > ul > li > a > div:hover {
  border: 1px solid red;
}
#main #content-article > #conten-interest > div > ul > li > a > div:hover img {
  opacity: 0.6;
}
#main #content-article > #conten-interest > div > ul > .no-right {
  margin-right: 0px;
}
#main #content-article > #conten-interest > .conten-interest-end {
  width: 80px;
  height: 45px;
  background: url(../images/1231.png) no-repeat;
  margin: 0 auto 10px;
  background-size: cover;
}
#main #footer {
  width: 100%;
  height: 550px;
  border-top: 1px solid #D1D7DC;
  background: #fff;
}
#main #footer > .footer-top {
  width: 1190px;
  height: 100px;
  background: url(../images/121.jpg) no-repeat;
  margin: 0px auto;
  margin-top: 25px;
}
#main #footer > .footer-center {
  width: 1190px;
  padding-top: 22px;
  height: 210px;
  margin: auto;
  border-top: 1px solid #ededed;
  background: url(../images/0000.jpg) 45px bottom no-repeat;
}
#main #footer > .footer-center > dl {
  float: left;
  width: 238px;
  padding-left: 52px;
}
#main #footer > .footer-center > dl > dt {
  color: #646464;
  font-size: 16px;
  font-weight: 700;
  height: 30px;
  line-height: 30px;
  text-align: left;
}
#main #footer > .footer-center > dl > dd {
  text-align: left;
  display: flex;
  flex-direction: column;
}
#main #footer > .footer-center > dl > dd > a {
  font-size: 12px;
  width: 100px;
  overflow: hidden;
  text-align: left;
  height: 20px;
  line-height: 20px;
  color: #8b8b8b;
}
#main #footer > .footer-center > dl > a {
  display: block;
  width: 105px;
  height: 105px;
  line-height: 105px;
  text-align: center;
}
#main #footer > .footer-center > dl > a > img {
  width: 105px;
  height: 105px;
}
#main #footer > .footer-bottom {
  height: 250px;
  border-top: 2px solid #FF0036;
  background: #000;
  text-align: left;
}
#main #footer > .footer-bottom > .footer-bottom-main {
  width: 1190px;
  margin: 0 auto;
}
#main #footer > .footer-bottom > .footer-bottom-main > li {
  line-height: 25px;
  padding: 5px 0;
  color: #fff;
  font-size: 12px;
}
#main #footer > .footer-bottom > .footer-bottom-main > li > a {
  color: #fff;
  font-size: 12px;
}
#main #footer > .footer-bottom > .footer-bottom-main > div {
  line-height: 20px;
  background: #000;
  color: #a4a4a4;
}
#main #footer > .footer-bottom > .footer-bottom-main > div > span {
  display: inline-block;
  text-align: left;
  margin-right: 65px;
  line-height: 20px;
  color: #a4a4a4;
  font-size: 12px;
}
#main #footer > .footer-bottom > .footer-bottom-main > ol {
  margin-top: 5px;
}
#main #footer > .footer-bottom > .footer-bottom-main > ol > li {
  line-height: 20px;
  background: #000;
}
#main #footer > .footer-bottom > .footer-bottom-main > ol > li > span {
  margin-right: 65px;
  color: #a4a4a4;
  font-size: 12px;
}
#main #footer > .footer-bottom > .footer-bottom-main > ol > li > i {
  color: #686868;
  font-size: 12px;
}
#main #footer > .footer-bottom > .footer-bottom-main > ol > li > img {
  margin-top: 10px;
  margin-right: 10px;
  height: 30px;
}
