* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
i {
  font-style: normal;
}
html,
body {
  background-color: #f5f5f5;
}
#head-login {
  width: 100%;
  height: 33px;
  background: #f2f2f2;
  border-bottom: 1px solid #e5e5e5;
}
#head-login > header {
  width: 1230px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#head-login > header > p {
  height: 100%;
}
#head-login > header > p > i {
  line-height: 32px;
  font-size: 12px;
  color: #999;
}
#head-login > header > p > a {
  padding-left: 20px;
}
#head-login > header > ul {
  height: 32px;
}
#head-login > header > ul > li {
  float: left;
}
#head-login > header > ul > li > a {
  padding: 0 10px;
}
#head-login > header > ul > li > i {
  line-height: 32px;
  font-size: 12px;
  color: #999;
  padding: 0 10px;
}
#head-login > header a {
  line-height: 32px;
  font-size: 12px;
  color: #999;
}
#head-login > header a:hover {
  color: red;
}
#nav-search {
  width: 100%;
  height: 130px;
  background-color: #fff;
}
#nav-search > nav {
  width: 1230px;
  height: 78px;
  margin: 0 auto;
}
#nav-search > nav > .search-center,
#nav-search > nav .search-left {
  float: right;
}
#nav-search > nav > .search-rigth {
  width: 240px;
  height: 130px;
  float: left;
  margin-left: -25px;
}
#nav-search > nav > .search-rigth > img {
  width: 240px;
  height: 130px;
}
#nav-search > nav > .search-center {
  width: 300px;
  height: 78px;
  padding-left: 100px;
}
#nav-search > nav > .search-center > a {
  display: block;
  width: 190px;
  height: 70px;
  margin-top: 10px;
}
#nav-search > nav > .search-left {
  width: 625px;
  height: 78px;
  padding-top: 38px;
}
#nav-search > nav > .search-left > form {
  width: 625px;
  height: 40px;
  border: solid #FF0036;
  border-width: 2px 0px 2px 2px;
}
#nav-search > nav > .search-left > form > fieldset {
  border: none;
  width: 623px;
  height: 36px;
}
#nav-search > nav > .search-left > form > fieldset > input {
  width: 490px;
  height: 36px;
  line-height: 36px;
  letter-spacing: 1px;
  padding: 5px 3px 5px 10px;
  border: none;
  float: left;
  outline: none;
}
#nav-search > nav > .search-left > form > fieldset > button {
  width: 133px;
  height: 36px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 5px;
  background: #FF0036;
  float: left;
}
#content-nav {
  width: 100%;
  background-color: #fff;
  border-style: solid;
  border-width: 0 0 2px;
  border-color: #FF0036;
}
#content-nav > nav {
  width: 1230px;
  height: 37px;
  margin: 0 auto;
  position: relative;
}
#content-nav > nav > .tmall-left {
  float: left;
  width: 200px;
  height: 37px;
  font-size: 18px;
  font-weight: 700;
  background: #FF0036;
  color: #fff;
  text-align: center;
  line-height: 36px;
}
#content-nav > nav > .tmall-rigth {
  float: left;
  width: 1030px;
  height: 36px;
  display: flex;
}
#content-nav > nav > .tmall-rigth > a {
  margin: 0 8px;
  float: left;
  color: #000;
  line-height: 36px;
}
#content-nav > nav > .tmall-rigth > a:hover {
  color: red;
}
#content-nav > nav > #content-list {
  width: 200px;
  position: absolute;
  top: 39px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.55);
}
#content-nav > nav > #content-list > li {
  padding-left: 20px;
  height: 31.25px;
  line-height: 31.25px;
  color: #fff;
  font-size: 14px;
}
#content-nav > nav > #content-list > li > a {
  color: #fff;
}
#content-banner {
  width: 100%;
}
#content-banner > main {
  width: 100%;
  height: 500px;
  background: blue;
}
#content-banner > main > .tmall-banner {
  height: 500px;
  width: 1230px;
  margin: 0 auto;
  background: lightgreen;
}
#content-banner > main > .tmall-banner > img {
  margin: 0 auto;
  display: none;
}
#content-banner > main > .tmall-banner > .active {
  display: block;
}
#content-article {
  width: 1230px;
  margin: 0 auto;
  height: 5000px;
}
#content-article > #content-brand {
  margin-top: 35px;
  width: 100%;
  height: 370px;
}
#content-article > #content-brand > div {
  height: 370px;
  float: left;
  background: #fff;
  display: flex;
  flex-direction: column;
}
#content-article > #content-brand > div > div {
  width: 100%;
  height: 54px;
  position: relative;
  border-bottom: 1px solid #eee;
}
#content-article > #content-brand > div > div > span:first-of-type {
  font-size: 18px;
  font-weight: 700;
  color: #333;
  line-height: 54px;
  margin-left: 10px;
}
#content-article > #content-brand > div > div > span:last-of-type {
  font-size: 14px;
  font-weight: 700;
  color: #333;
  margin-left: 10px;
  line-height: 24px;
}
#content-article > #content-brand > div > div > a {
  position: absolute;
  top: 16px;
  right: 10px;
}
#content-article > #content-brand > div > a {
  height: 316px;
  width: 100%;
}
#content-article > #content-brand > div > a > img {
  height: 316px;
  width: 100%;
}
#content-article > #content-brand > .brand-left {
  width: 234px;
  margin-right: 13px;
}
#content-article > #content-brand > .brand-center {
  width: 485px;
  margin-right: 13px;
}
#content-article > #content-brand > .brand-right {
  width: 485px;
}
#content-article > #content-cooperate {
  margin-top: 15px;
  width: 100%;
}
#content-article > #content-cooperate > div {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
#content-article > #content-cooperate > div > a {
  width: 122px;
  height: 108px;
  margin-right: 1px;
  margin-bottom: 1px;
  float: left;
  background: #fff;
  display: flex;
}
#content-article > #content-cooperate > div > a > img {
  margin: auto;
  height: 50px;
  object-fit: cover;
}
#content-article > #content-cooperate > div > div {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
#content-article > #content-cooperate > div > div > a {
  color: #999;
  display: block;
  width: 122px;
  height: 108px;
  margin-right: 1px;
  margin-bottom: 1px;
  float: left;
  background: #fff;
  text-align: center;
  line-height: 108px;
}
#content-article > #content-supermarket {
  margin-top: 30px;
  width: 100%;
}
#content-article > #content-supermarket > .supermarket-top {
  font-size: 18px;
  height: 28px;
}
#content-article > #content-supermarket > .supermarket-top > img {
  height: 25px;
}
#content-article > #content-supermarket > .supermarket-bottom {
  width: 100%;
  height: 618px;
  margin-top: 10px;
  overflow: hidden;
}
#content-article > #content-supermarket > .supermarket-bottom > .supermarket-bottom-left {
  width: 235px;
  height: 618px;
  float: left;
}
#content-article > #content-supermarket > .supermarket-bottom > .supermarket-bottom-left > a > img {
  display: block;
  width: 100%;
  height: 618px;
}
#content-article > #content-supermarket > .supermarket-bottom > .supermarket-bottom-right {
  width: 995px;
  height: 618px;
  float: left;
  overflow: hidden;
  display: flex;
  flex-flow: wrap;
  align-content: space-between;
}
#content-article > #content-supermarket > .supermarket-bottom > .supermarket-bottom-right > div {
  width: 484px;
  height: 316px;
  margin-left: 13px;
  background: #fff;
  border-bottom: 15px solid #f5f5f5;
}
#content-article > #content-supermarket > .supermarket-bottom > .supermarket-bottom-right > div > div {
  width: 462px;
  height: 282px;
  margin: 10px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.09);
}
#content-article > #content-supermarket > .supermarket-bottom > .supermarket-bottom-right > div > div > ul {
  overflow: hidden;
  background: #F1F1F1;
  color: #999;
  font-size: 12px;
}
#content-article > #content-supermarket > .supermarket-bottom > .supermarket-bottom-right > div > div > ul > li {
  float: left;
  color: #000;
  height: 57px;
  width: 231px;
  cursor: pointer;
  line-height: 30px;
  padding: 0 20px;
  text-align: center;
  vertical-align: middle;
}
#content-article > #content-supermarket > .supermarket-bottom > .supermarket-bottom-right > div > div > ul > li > p {
  margin-top: 16px;
  font-size: 18px;
  line-height: 20px;
}
#content-article > #content-supermarket > .supermarket-bottom > .supermarket-bottom-right > div > div > ul > .active {
  color: #fff;
  background: #00B262;
}
#content-article > #content-supermarket > .supermarket-bottom > .supermarket-bottom-right > a {
  width: 235px;
  height: 316px;
  margin-left: 13px;
  border-bottom: 15px solid #f5f5f5;
  position: relative;
  background-color: #fff;
}
#content-article > #content-supermarket > .supermarket-bottom > .supermarket-bottom-right > a div {
  width: 235px;
  height: 301px;
  border: 1px solid #fff;
}
#content-article > #content-iso {
  margin-top: 30px;
  width: 100%;
}
#content-article > #content-iso > .iso-top {
  font-size: 18px;
  height: 28px;
}
#content-article > #content-iso > .iso-top > img {
  height: 25px;
}
#content-article > #content-iso > .iso-bottom {
  width: 100%;
  height: 618px;
  margin-top: 10px;
  overflow: hidden;
}
#content-article > #content-iso > .iso-bottom > .iso-bottom-left {
  width: 235px;
  height: 618px;
  float: left;
  display: flex;
  flex-flow: wrap;
  align-content: space-between;
}
#content-article > #content-iso > .iso-bottom > .iso-bottom-left > a {
  width: 235px;
  height: 301px;
  display: block;
  border-bottom: 15px solid #f5f5f5;
  position: relative;
  background-color: #fff;
}
#content-article > #content-iso > .iso-bottom > .iso-bottom-left > a > img {
  width: 235px;
  height: 301px;
  float: left;
}
#content-article > #content-iso > .iso-bottom > .iso-bottom-right {
  width: 995px;
  height: 618px;
  float: left;
  overflow: hidden;
  display: flex;
  flex-flow: wrap;
  align-content: space-between;
}
#content-article > #content-iso > .iso-bottom > .iso-bottom-right > a {
  width: 235px;
  height: 316px;
  margin-left: 13px;
  border-bottom: 15px solid #f5f5f5;
  position: relative;
  background-color: #fff;
}
#content-article > #content-iso > .iso-bottom > .iso-bottom-right > a div {
  width: 235px;
  height: 301px;
  border: 1px solid #fff;
}
#content-article > #conten-advertising {
  margin-top: 20px;
  width: 100%;
  display: flex;
  overflow: hidden;
}
#content-article > #conten-advertising > a {
  width: 100%;
}
#content-article > #conten-advertising > a > img {
  display: block;
  width: 1620px;
  height: 90px;
  margin-left: -165px;
}
#content-article > #conten-interest {
  margin-top: 30px;
  width: 100%;
}
#content-article > #conten-interest > h2 {
  color: #666;
  text-align: center;
  height: 43px;
  font-weight: 100;
}
#content-article > #conten-interest > h2 > span {
  font-size: 18px;
  line-height: 20px;
  position: relative;
}
#content-article > #conten-interest > h2 > span::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: #979797;
  top: 12px;
  left: -38px;
}
#content-article > #conten-interest > h2 > span::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: #979797;
  top: 12px;
  right: -38px;
}
#content-article > #conten-interest > div > ul {
  height: 333px;
}
#content-article > #conten-interest > div > ul > li {
  float: left;
  width: 236px;
  margin-right: 12px;
  margin-bottom: 7px;
}
#content-article > #conten-interest > div > ul > li > a {
  display: block;
  border: 2px solid #fff;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  margin-right: 7px;
  margin-bottom: 7px;
  width: 100%;
  height: 315px;
}
#content-article > #conten-interest > div > ul > .no-right {
  margin-right: 0px;
}
